<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="Janina" class="com.MKMMM.szkolenia.demo.domain.Person">
        <property name="name" value="Janina" />
        <property name="yob" value="1999" />
    </bean>

    <bean id="andrzej" class="com.MKMMM.szkolenia.demo.domain.Person">
        <property name="name" value="Andrzej" />
        <property name="yob" value="1999" />
    </bean>



</beans>